body {
   font-family: tahoma;
   color:#282828;
   margin: 0px;
 }

 .nav-bar {
   background: linear-gradient(-90deg, #84CF6A, #16C0B0);
   height: 60px;
   margin-bottom: 15px;
 }

 .product {
   display: flex;
   flex-flow: wrap;
   padding: 1rem;
 }

 img {
   border: 1px solid #d8d8d8;
   width: 70%;
   margin: 40px;
   box-shadow: 0px .5px 1px #d8d8d8;
 }

 .product-image {
   width: 80%;
 }

 .product-image,
 .product-info {
   margin-top: 10px;
   margin-left: 20%;
   width: 80%;
 }

 .color-box {
   width: 40px;
   height: 40px;
   margin-top: 5px;
 }

 .cart {
   margin-right: 25px;
   float: right;
   border: 1px solid #d8d8d8;
   padding: 5px 20px;
 }

 button {
   margin-top: 30px;
   border: none;
   background-color: #1E95EA;
   color: white;
   height: 40px;
   width: 100px;
   font-size: 14px;
 }

 .disabledButton {
   background-color: #d8d8d8;
 }

 .review-form {
   width: 400px;
   padding: 20px;
   margin: 40px;
   border: 1px solid #d8d8d8;
 }

 input {
   width: 100%;
   height: 25px;
   margin-bottom: 20px;
 }

 textarea {
   width: 100%;
   height: 60px;
 }

 .tab {
   margin-left: 20px;
   cursor: pointer;
 }

 .activeTab {
   color: #16C0B0;
   text-decoration: underline;
 }

 .horizontal-list {
   overflow-x: auto;
   white-space: nowrap;
   -webkit-overflow-scrolling: touch;
 }

 .item {
   /* 横スクロール用 */
   display: inline-block;
   width: 40%;

   /* 見た目調整 */
   margin: 16px;
   margin-top: 10px;
   font-size: 28px;
   text-align: center;
   background-color: #d9d9d9;
 }


 /*タブ切り替え全体のスタイル*/
 .tabs {
   margin-top: 50px;
   margin-left: 20%;
   margin-bottom: 40px;
   background-color: #fff;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
   width: auto;}

 /*タブのスタイル*/
 .tab_item {
   width: calc(100%/4);
   height: 50px;
   border-bottom: 3px solid #84f6ca;
   background-color: #d9d9d9;
   line-height: 50px;
   font-size: 16px;
   text-align: center;
   color: #565656;
   display: inline-block;
   float: left;
   text-align: center;
   font-weight: bold;
   transition: all 0.2s ease;
 }
 .tab_item:hover {
   opacity: 0.75;
 }

 /*ラジオボタンを全て消す*/
 input[name="tab_item"] {
   display: none;
 }

 /*タブ切り替えの中身のスタイル*/
 .tab_content {
   display: none;
   padding: 40px 40px 0;
   clear: both;
   overflow: hidden;
 }


 /*選択されているタブのコンテンツのみを表示*/
 #faculty:checked ~ #faculty_content,
 #club:checked ~ #club_content,
 #expense:checked ~ #expense_content,
 #event:checked ~ #event_content {
   display: block;
   background-color: #efe9ef;
 }

 /*選択されているタブのスタイルを変える*/
 .tabs input:checked + .tab_item {
   background-color: #84CF6A;
   color: #fff;
 }

 .youtube iframe{
   width: 40%;
   margin-left: 20%;
   margin-right: 10%;
   position: relative;
 }
