.font{
  letter-spacing: .1em;
  text-align: center;
}

.font-0{
  font-size: 20px;
}

.font-1{
  font-size: 80px;
  margin-bottom: 10%;
}

.font-2{
  border-bottom: solid 3px #cef7e0;
  color: #2e5740;
  font-size: 33px;
  text-align: left;
  letter-spacing: .2em;
  margin-left: 1em;
  width: 100% - 1em;
}

nav {
  background: rgba(255, 255, 255, 0.75);
  width: 100%;
  position: fixed;
  
}

nav ul {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  padding: 5px 0;
  width: 100%;
}

nav img {
  height: 50px;
}
nav a:hover {
  text-shadow: 0 0 10px #7ec790;
}

section{
  clear: both;
  margin-bottom: 10%;
}

.left{
  float: left;
  width: 50%;
  padding-left: 5%;
}

.left img{
  width: 90%;
}

.right h3, .right p{
  margin: 0 -1em;
}
.right .en{
  font-size: 6px;
  margin-bottom: 6px;
}
.right img{
  width: auto;
  height: 100%;
}

.projects{
  float: left;
  padding: 5% 0 0 5%;
  text-align: center;
  width: 33%;
}

.projects img{
  width: 25vw;
}

.gridR {
  padding-top: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 70%;
      grid-template-rows: 70%;
  -ms-grid-columns: 10% 55% 25% 10%;
      grid-template-columns: 10% 55% 25% 10%;
      grid-template-areas: "leftSide body title rightSide";
}

.gridR .col-body {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: body;
  padding-right: 25px;
}

#Contact .contents {
  background: #cef7e0;
  -webkit-box-shadow: 20px 20px #6e9780;
          box-shadow: 20px 20px #6e9780;
}

#Contact .contents .contents-body {
  text-align: center;
}

#Contact .contents .contents-body .mail-box {
  background: #aed7c0;
  margin: 1vw;
  margin-bottom: 1.8vw;
}

#Contact .contents .contents-body .mail-box .box-title {
  font-size: 1.4em;
  background: #cef7e0;
  padding: 4px;
  color: #2e5740;
  font-weight: bold;
  letter-spacing: 0.05em;
}

#Contact .contents .contents-body .mail-box p {
  padding: 1.5vw;
  font-size: 2em;
}

#Contact .contents .contents-body .mail-box p a {
  font-size: 2vw;
}

#Contact .contents .contents-body .mail-box p a:hover {
  color: orange;
}