#preview{
  width: 99%;
}

span{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 2rem;
}

.box{
  display:inline-block;
  min-width:640px;
  min-height:320px;
  border:5px dashed #eee;
  padding:10px;
  margin-bottom: 3rem;
}