body {
  font-family: tahoma;
  color:#282828;
}

header {
  top: 0px;
  left: 0px;
  height: 50px;
}

header img{
  display: block;
}

.menu{
  float: left;
  background: linear-gradient(-90deg, #84CF6A, #16C0B0);
  width: 100%;
  margin-bottom: 1em;
  line-height: 50px;
}

.menu li {
  float: left;
  list-style: none;
  padding-left: 4%;
}

.menu li a{
  text-decoration: none;
  color: whitesmoke;
}

main {
  clear: both;
}
.main_container{
  width: 96%;
  margin: 200px 3% 40px 3%;
}

h1 {
  padding-left: 12px;
  border-left: 6px solid #16C0B0;
  border-bottom: 2px solid #84CF6A;
}

.left {
  float: left;
  width: 40%;
  margin-bottom: 40px;
  margin-left: 1%;
  margin-right: 4%;
}

main h1{
  font-size:1.05rem;
}
@media only screen and (min-width:651px) {
  main p{
    font-size: 1.875rem;
  }
  main h1{
    font-size: 2rem;
  }
}

.right {
  float: left;
  width: 45%;
}

footer{
  clear: both;
  bottom: 0px;
  background-color: black;
  line-height: 40px;
}
footer p{
  color: white;
  text-align: center;
}